<div class="div_menu">
    <a href="/">Home</a>
    <a href="/books" class="item">도서검색</a>
    <a href="/movies" class="item">영화검색</a>
    <a href="/shop" class="item">상품검색</a>
    <a href="/test" class="item">run</a>
    <a href="/bbs" style="float:right;">게시판</a>
    <a href="/todos" style="float:right;" class="item">할일목록</a>
    <hr>
</div>