<h1><%=title%></h1>
<div id="div_posts"></div>
<script id="temp_posts" type="x-handlebars-template">
    <table class="table table-secondary table-striped table-hover">
        <tr>
            <td>ID</td><td>Title</td><td>Writer</td><td>Date</td>
        </tr>    
        {{#each .}}
            <tr>
                <td>{{pid}}</td>
                <td>{{title}}</td>
                <td>{{writer}}</td>
                <td>{{pdate}}</td>
            </tr>    
        {{/each}}
    </table>    
</script>
<script>
    getData();
    function getData(){
        $.ajax({
            type:"get",
            url:"/posts/list.json",
            dateType:"json",
            success:function(data){
                console.log(data);
                const temp=Handlebars.compile($("#temp_posts").html());
                $("#div_posts").html(temp(data));
            }
        })
    }
</script>