<div class="row my-5 justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header text-center">
                <h3 class="py-2">로그인</h3>
            </div>
            <div class="card-body">
                <form name="frm">
                    <input name="uid" placeholder="아이디" class="form-control mb-3">
                    <input name="upass" type="password" placeholder="비밀번호" class="form-control mb-3">
                    <button class="btn btn-primary w-100">로그인</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(frm).on("submit", function(e){ //깜빡이는거 방지
        e.preventDefault();
        const uid=$(frm.uid).val();
        const upass=$(frm.upass).val();
        if(uid==""){
            alert("아이디를 입력하세요!");
        }else if(upass==""){
            alert("비밀번호를 입력하세요!");
        }else{
            //로그인체크
            $.ajax({
                type:"post",
                url:"/login",
                data:{uid:uid, upass:upass},
                success:function(data){
                    console.log(data);
                    if(data.result==0) {
                        alert("아이디가 존재하지 않습니다!");
                    }else if(data.result==2) {
                        alert("비밀번호 일치하지 않습니다!");
                    }else{
                        alert("성공");
                    }
                }
            })
        }
    });
</script>