<h1><%=title%></h1>
<div class="row mb-2">
    <div class="col-8 col-md-4">
        <form class="input-group" name="frm">
            <input class="form-control" name="query" value="자바" placeholder="검색어">
            <button class="btn btn-primary">검색</button>
        </form>
    </div>
</div>
<div id="div_book" class="row"></div>
<div class="text-center my-3">
    <button class="btn btn-primary" id="prev">이전</button>
    <span class="mx-3" id="page">1</span>
    <button class="btn btn-primary" id="next">다음</button>
</div>
<!--도서 템플릿      my 위아래 마진 mx 양쪽 마진 -->
<script id="temp_book" type="X-handlebars-template">
{{#each documents}}
    <div class="col-lg-2 col-md-4 col-6 mb-2">
        <div class="card">
            <div class="card-body">
                <img src={{check thumbnail}} width="90%" id={{@index}} style="cursor:pointer;">
            </div>
            <div class="card-footer">
                <div class="ellipsis title">{{title}}</div>
                <%-include('modal.ejs')%>
            </div>
        </div>        
    </div> 
{{/each}}
</script>
<!--이미지유무체크 함수-->
<script>
    Handlebars.registerHelper("check", function(thumbnail){
        if(thumbnail){
            return thumbnail;
        }else{
            return "http://via.placeholder.com/125x175";
        }
    });
</script>
<script>
    let query=$(frm.query).val();
    let page=1;
    getData();

    //이미지를 클릭한경우
    $("#div_book").on("click", "img", function(){
        const id=$(this).attr("id");    
        alert(id);
        $("#modal" + id).modal("show");
    });

    //다음버튼을 클릭한경우
    $("#next").on("click", function(){
        page++;
        getData();
    });
    $("#prev").on("click", function(){
        page--;
        getData();
    });

    $(frm).on("submit", function(e){
        e.preventDefault();
        query=$(frm.query).val();
        if(query==""){
            alert("검색어를 입력하세요!");
        }else{
            page=1;
            getData();
        }
    });

    function getData(){ //데이터를 가지고오기 ajax는 화면이 리프레쉬가 안돼고 유연하게 돌아가게하는 것
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v3/search/book?target=title",
            dataType:"json",
            data:{query:query, size:6, page:page},
            headers:{"Authorization":"KakaoAK 54b6688221dead45827042df7e297c2d"},
            success:function(data){
                //alert("성공") const는 변하지 않는 값 let변하는 값 var 안씀
                console.log(data);
                const temp=Handlebars.compile($("#temp_book").html());
                $("#div_book").html(temp(data));
                
                const last=Math.ceil(data.meta.pageable_count/6);
                $("#page").html(`<b>${page} / ${last}</b>`);

                if(page==1){
                    $("#prev").attr("disabled", true);
                }else{
                    $("#prev").attr("disabled", false);
                }
                if(data.meta.is_end){
                    $("#next").attr("disabled", true);
                }else{
                    $("#next").attr("disabled", false);
                }
            }
        });
    }
</script>