<h1><%=title%></h1>
<div class="col-8 col-md-4">  <!--  검색 설계 -->
    <form class="input-group" name="frm">
        <input class="form-control" name="query" value="뉴욕" placeholder="블로그검색">
        <button class="btn btn-primary">검색</button>
    </form>
</div>

<div id="div_blog" style="width: 900px; margin: 0px auto;">

</div>
<div class="text-center my-3">          <!-- 버튼 설계 -->
    <button class="btn btn-danger" id="prev">이전</button>
    <span class="mx-3" id="page">1</span>
    <button class="btn btn-primary" id="next">다음</button>
</div>
<script id="temp_blog" type="X-handlebars-template">
{{#each documents}}
<div class="row mb-3" url="{{url}}" style="cursor:pointer;">
    <div class="col">
        <div><a href="{{url}}">{{{title}}}</a></div>
        <div class="ellipsis3">{{{contents}}}</div>
        <div class="mt-3" style="font-size:15px;color:gray">
            <span>블로그제목: {{blogname}}</span>
            <span class="ms-3">업로드날짜: {{fmtDate datetime}}</span>
        </div>
    </div>
    <div class="col">
        <img src="{{thumbnail}}">
    </div>
</div>       
{{/each}}
</script>
<script>
    Handlebars.registerHelper("fmtDate", function(date){
       const yy=date.substr(0,4);
       const mm=date.substr(5,2);
       const dd=date.substr(8,2);
       const fmtDate=`${yy}년${mm}월${dd}일`;
       return fmtDate;
       
    });
</script>

<script>
    const size=3;
    let page=1;
    let query=$(frm.query).val();
    getData();

    //다음버튼을 클릭한경우
    $("#next").on("click", function(){
        page++;
        getData();
    });
    $("#prev").on("click", function(){
        page--;
        getData();
    });

    $(frm).on("submit", function(e){
        e.preventDefault();
        query=$(frm.query).val();
        if(query==""){
            alert("검색어를 입력하세요!");
        }else{
            page=1;
            getData();
        }
    });

    //row를 클릭한경우
    $("#div_blog").on("click", "row", function(){
        const url=$(this).attr("url");
        location.href=url;
    });
    $(frm).on("submit", function(event){
        event.preventDefault();
        query=$(frm.query).val();
        if(query==""){ 
            alert("검색어를 입력하세요!");
        }else{
            page=1;
            getData();
        }
    });

    function getData(){
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v2/search/blog",
            headers:{"Authorization": "KakaoAK 54b6688221dead45827042df7e297c2d"},
            dataType:"json",
            data:{query:query, size:size, page:page},
            success:function(data){
                console.log(data);
                const temp=Handlebars.compile($("#temp_blog").html());
                $("#div_blog").html(temp(data));
                
                const last=Math.ceil(data.meta.pageable_count/6);
                $("#page").html(`<b>${page} / ${last}</b>`);

                if(page==1){
                    $("#prev").attr("disabled", true);
                }else{
                    $("#prev").attr("disabled", false);
                }
                if(data.meta.is_end){
                    $("#next").attr("disabled", true);
                }else{
                    $("#next").attr("disabled", false);
                }
            }


        });
    }
    
</script>